@media  screen and (max-width: 991.9px) {


      .user_objective {
            display: none;
      }
      
      .user_profile {
            padding: 40px;
            left: 0;
            top: 60px;
            width: 945px;
            height: 402px;
            transform: translateX(25px);
      }

      .user_avt {
            left: 40px;
      }

      .user_describe {
            top: 512px;
            left: 0;
            width: 945px;
            height: 1320px;
            transform: translateX(25px);
      }

      .describe--client {
            margin-top: unset;
      }




      
 }